@{
    ViewData["Title"] = "Home Page";
}

@model List<Question>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<h2>Stack Exchange Questions</h2>

<ul>
    @foreach (var question in Model)
    {
        <li>
            <div class="question-container">
                <input type="text" class="title-input" value="@question.Title" readonly />
                <div class="question-box">
                    <div class="formatted-content" contentEditable="false">@Html.Raw(question.body)</div>
                </div>
            </div>
        </li>
    }
</ul>
